.init-invisible {
    animation: become-visible 1s ease-out 0s 1;
}
@keyframes become-visible {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.init-left {
    animation: slide-in-from-left 1s ease-out 0s 1 forwards;
}
.init-left-2x {
    animation: slide-in-from-left 0.3s ease-out 0s 1 forwards;
}
.exit-left-2x {
    animation: slide-out-to-right 0.3s ease-out 0s 1 forwards;
}
@keyframes slide-in-from-left {
    from {
        opacity: 0;
        transform: translateX(-50%);
    } to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slide-out-to-right {
    from {
        opacity: 1;
        transform: translateX(0%);
    } to {
        opacity: 0;
        transform: translateX(-50%);
    }
}

.init-right {
    animation: slide-in-from-right 1s ease-out 0s 1;
}
@keyframes slide-in-from-right {
    from {
        opacity: 0;
        transform: translateX(50%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

.init-top {
    animation: slide-in-from-top 1s ease-out 0s 1 forwards;
}
@keyframes slide-in-from-top {
    from {
        opacity: 0;
        transform: translateY(-50%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.init-bottom {
    animation: slide-in-from-bottom 1s ease-out 0s 1 forwards;
}
@keyframes slide-in-from-bottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

