.main {
  background-color: white;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-bar {
  width: 100vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 0.1vh solid black;
  box-shadow: 0 0.4vh 0.4vh 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
  color: lightgray;
}

.luminus-logo {
  width: auto;
  height: 5vh;
  padding: 0.5%;
}

.nus-engin-logo {
  width: auto;
  height: 5vh;
  padding: 0.5%;
}

.title {
  width: 100vw;
  height: auto;
  padding: 0.5%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 0;
  flex: 1;
  justify-content: center;
  overflow: hidden;
}

.slides img {
  min-width: 100%;
  min-height: 100%;
}

.slide-left {
  animation: slide-to-left 2s ease-out 1s 1;
  animation-fill-mode: forwards;
}
@keyframes slide-to-left {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-100%);
  }
}


