.main {
  /*background-image: linear-gradient(to top, white, rgb(200, 200, 200));
  */
  background-color: white;
  height: 100%;
}

.navBar {
  width: 100vw;
  height: auto;
  background-color: lightgrey;
  border-bottom: 1px solid black;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1501px) and (max-width: 1800px) {
  .App {
    text-align: center;
    background-image: radial-gradient(white, rgb(100, 100, 100));
    color: black;
    font-size: 14px;
  }
}

.luminusLogo {
  width: auto;
  height: 5vw;
  padding: 0.5%;
}

.nusEnginLogo {
  width: auto;
  height: 5vw;
  padding: 0.5%;
}

.title {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  font-size: 1vw;
}

.welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.welcomeBox {
  width: auto;
  height: auto;
  background-color: lightgrey;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.rmLogo {
  height: 50vh;
  width: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

