.selection-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: lightgray;
    overflow: hidden;
}

.selection-box {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0.4vh 0.4vh 0.5vh 0vh rgba(0, 0, 0, 0.5);    
    z-index: inherit;
    display: flex;
    flex-direction: column;
    color: lightgray;
    height: auto;
    width: 50vw;
    padding-left: 1%;
    padding-right: 1%;
}

.tile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-container {
    z-index: inherit;
    width: 100%;
    height: 100%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: hover-contract 0.25s ease-out 0s 1 forwards;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.image-container:hover {
    animation: hover-expand 0.25s ease-out 0s 1 forwards;
}
@keyframes hover-expand {
    from {
        transform: scale(1.0);
    } to {
        transform: scale(1.02);
    }
}

@keyframes hover-contract {
    from {
        transform: scale(1.02);
    } to {
        transform: scale(1);
    }
}